@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  display: flex; 
  flex-flow: column ;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.logo{
  padding: 30px;
}
.photo{
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
}

.title{
  text-align: center;
  font-size: 2em;
  color: hsl(0, 36%, 70%);
  font-weight: 200;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2em;
  }
.title span{
  color: black;
  font-weight: 600;
}

.subtext{
  font-size: 1em;
  text-align: center;
  padding: 1em;
  color: hsl(0, 36%, 70%);
}

.formulario{
  display: flex;
  margin: 0px auto;
  padding: 30px;
}

.email-form{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.button{
  max-width: 100px;
  min-width: 100px;
  border-style: none;
  border-radius: 20px;
  width: 15%;
  height: 43px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
}

.in-email{
  max-width:300px;
  background-color: transparent;
  border: 1px solid hsla(0, 36%, 70%, 0.733);
  border-radius: 20px;
  height: 40px;
  width: 60%;
  font-size: 1em;
  padding-left: 1em;
  color: #f37f83;   
  }
@media only screen and (min-width: 1200px){
.container{
  background-image: url('images/bg-pattern-desktop.svg');
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  grid-template-rows: 10% 40% 20% auto;
  grid-template-areas: 
  "white logo photo"
  "white title photo"
  "white parrafo photo"
  "white form photo";
  }
.photo{
  content: url('images/hero-desktop.jpg');
  grid-area: photo;
  justify-self: stretch;
  align-self: stretch;
}
.logo{
  grid-area: logo;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  align-self: center;
}
.title{
  grid-area: title;
  font-size: 4rem;
  width: 2em;
  height: auto;
  align-self: end;
  margin: 0px;
  padding: 0px
  }
.subtext{
  grid-area: parrafo;
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  width: 500px;
  align-self: start;
  justify-self: start;
  text-align: left;
  line-height: 2em;
  grid-row: auto;
}
.formulario{
  display: inline;
  grid-area: form;
  align-self: start;
  margin: 0px;
  padding: 0px;
}
}












